---
type Props = {
  class: string
}

const { class: className } = Astro.props
---

<p class={className} style="line-height: 1.2;">
  А Б В Г Ґ Д Е Є Ё Ж Ӂ З И І Ї Й К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Ь Э Ю Я а б в г ґ д
  е є ё ж ӂ з и і ї й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я
</p>
