---
type Props = {
  class: string
}

const { class: className } = Astro.props
---

<p class={className} style="line-height: 1.2;">
  № • 0 1 2 3 4 5 6 7 8 9 % ⟵ ⟶ {"{ | }"} . , : ; … ! ? * ( / ) - – — _ [ \ ] , „ “ ” ‘ ’ ¢
  $ € ₴ ₽ £ ¥ + − × ÷ = ≠ {"> <"} ≥ ≤ ± ≈ ~ ^ ↑ ↓ → ← ↘ ↗ ↙ ↖ ↩ ↶ ↷ ↺ ↻ ✓ # @ & § © ℗
  ® ™ ° « » ‹ › "'
</p>
