---
import Characters from "../components/Characters.astro"
import Hero from "../components/Hero.astro"
import Slider from "../components/Slider.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Onest Font | Remake by Flurium"
  description="Remake of Onest Font website made by Roman Koshchei as part of Flurium agency"
>
  <Hero />

  <Slider />

  <Characters />
  <div class="px-6 pt-6 text-gray-500 gap-4 flex flex-col md:flex-row justify-between">
    <p>
      Characters include: extended Latin and Cyrillic, alternatives, indexes, fractions,
      currencies
    </p>
    <p>Number of characters: 529</p>
  </div>

  <section
    class="px-6 pt-32 md:pt-36 grid grid-cols-1 md:grid-cols-3 gap-8 text-balance text-4xl md:text-5xl"
  >
    <p class="md:col-start-2 md:col-span-3 leading-tight">
      This is the first Moldovan made typeface created with a mere goal — to make
      communication between the state and the citizen honest and understandable.
    </p>
    <p class="md:col-start-2 md:col-span-3 leading-tight">
      Also, to bring Moldova's image closer to that of a modern, open country.
    </p>
  </section>
</Layout>
