---
import Drept from "./characters/Drept.astro"
import Straight from "./characters/Straight.astro"

const slidePadding = "px-6 pb-6 md:px-8 md:pb-6 pt-20"
---

<div class="flex overflow-hidden rounded-xl mx-6 relative">
  <input type="radio" name="glyphs" id="latin" checked class="hidden" />
  <input type="radio" name="glyphs" id="cyrillic" class="hidden" />
  <input type="radio" name="glyphs" id="symbols" class="hidden" />

  <!-- Latin Slides navigation -->

  <input type="radio" name="latinSlide" id="latin1" checked class="hidden" />
  <label class="right-20 slider-radio z-10" for="latin1">
    <div class="rounded-full w-4 h-4 bg-gray-200"></div>
  </label>

  <input type="radio" name="latinSlide" id="latin2" class="hidden" />
  <label class="right-12 slider-radio z-10" for="latin2">
    <div class="rounded-full w-4 h-4 bg-gray-200"></div>
  </label>

  <input type="radio" name="latinSlide" id="latin3" class="hidden" />
  <label class="right-4 slider-radio z-10" for="latin3">
    <div class="rounded-full w-4 h-4 bg-gray-200"></div>
  </label>

  <!-- Cyrillic Slides navigation -->

  <input type="radio" name="cyrillicSlide" id="cyrillic1" checked class="hidden" />
  <label class="right-20 slider-radio z-10" for="cyrillic1">
    <div class="rounded-full w-4 h-4 bg-gray-200"></div>
  </label>

  <input type="radio" name="cyrillicSlide" id="cyrillic2" class="hidden" />
  <label class="right-12 slider-radio z-10" for="cyrillic2">
    <div class="rounded-full w-4 h-4 bg-gray-200"></div>
  </label>

  <input type="radio" name="cyrillicSlide" id="cyrillic3" class="hidden" />
  <label class="right-4 slider-radio z-10" for="cyrillic3">
    <div class="rounded-full w-4 h-4 bg-gray-200"></div>
  </label>

  <!--  -->
  <div
    class="absolute top-6 left-6 md:left-8 right-6 md:right-auto text-blue-500
    flex justify-between md:justify-normal md:gap-4 text-sm md:text-lg z-10"
    id="glyphLabels"
  >
    <label
      class="underline cursor-pointer transition-colors duration-300 md:duration-500"
      for="latin"
    >
      Latin
    </label>
    <label
      class="underline cursor-pointer transition-colors duration-300 md:duration-500"
      for="cyrillic"
    >
      Cyrillic
    </label>
    <label class="underline cursor-pointer" for="symbols"> Numerals and Symbols</label>
  </div>

  <!-- Safety sections -->
  <div class="w-full flex-none"></div>
  <div class="w-full flex-none"></div>
  <div class="w-full flex-none"></div>

  <div id="latinSlides" class="w-full flex-none flex transition-transform duration-500">
    <p
      class:list={[
        "w-full flex-none text-4xl md:text-8xl bg-white leading-5",
        slidePadding,
      ]}
      style="line-height: 1.2;"
    >
      A Ă Â Ä B C Ç D E Ê F G H I İ J K L M N O Ö P Q R S Ș Ş T Ț Ţ U Ü V W X Y Z a ă â ä
      b c ç d e ê f g h i j k l m n o ö p q r s ş ș t ț ţ u ü v w x y z
    </p>

    <p
      class:list={[
        `w-full flex-none font-medium text-4xl md:text-8xl flex items-end bg-zinc-900 text-white`,
        slidePadding,
      ]}
      style="line-height: 1.2;"
    >
      Vând muzică de jazz și haine de bun-gust în New-York și Quebec la preț fix.
    </p>

    <div class="w-full flex-none p-6 md:p-8 bg-zinc-900">
      <div class="overflow-hidden flex items-center justify-center h-full">
        <Drept class="w-full min-w-[28rem]" />
      </div>
    </div>
  </div>

  <div
    id="cyrillicSlides"
    class="w-full flex-none flex transition-transform duration-500"
  >
    <p
      class:list={["w-full flex-none text-4xl md:text-8xl bg-white", slidePadding]}
      style="line-height: 1.2;"
    >
      А Б В Г Ґ Д Е Є Ё Ж Ӂ З И І Ї Й К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Ь Э Ю Я а б в г
      ґ д е є ё ж ӂ з и і ї й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я
    </p>

    <p
      class:list={[
        `w-full flex-none font-medium text-3xl md:text-8xl flex items-end bg-zinc-900 text-white`,
        slidePadding,
      ]}
      style="line-height: 1.2;"
    >
      Подъём с затонувшего эсминца легкобьющейся древнегреческой амфоры сопряжён с
      техническими трудностями.
    </p>

    <div class="w-full flex-none p-6 md:p-8 bg-zinc-900">
      <div class="overflow-hidden flex items-center justify-center h-full">
        <Straight class="w-full min-w-[26rem]" />
      </div>
    </div>
  </div>

  <p
    id="symbolSlide"
    class:list={[
      "w-full flex-none text-4xl md:text-8xl tracking-tighter bg-white",
      slidePadding,
    ]}
    style="line-height: 1.2; font-family: Onest, 'Onest Variable';"
  >
    № • 0 1 2 3 4 5 6 7 8 9 % ⟵ ⟶ {"{ | }"} . , : ; … ! ? * ( / ) - – — _ [ \ ] , „ “ ” ‘ ’
    ¢ $ € ₴ ₽ £ ¥ + − × ÷ = ≠ {"> <"} ≥ ≤ ± ≈ ~ ^ ↑ ↓ → ← ↘ ↗ ↙ ↖ ↩ ↶ ↷ ↺ ↻ ✓ # @ & §
    © ℗ ® ™ ° « » ‹ › "'
  </p>
</div>

<style>
  /* glyphs */
  #latin:checked ~ #glyphLabels [for="latin"],
  #cyrillic:checked ~ #glyphLabels [for="cyrillic"],
  #symbols:checked ~ #glyphLabels [for="symbols"] {
    color: black;
    text-decoration-line: none;
  }

  #latin:checked ~ #latinSlides,
  #cyrillic:checked ~ #cyrillicSlides,
  #symbols:checked ~ #symbolSlide {
    order: -9999;
  }

  #latin:checked ~ #latin2:checked ~ #glyphLabels label[for="latin"],
  #latin:checked ~ #latin3:checked ~ #glyphLabels label[for="latin"],
  #cyrillic:checked ~ #cyrillic2:checked ~ #glyphLabels label[for="cyrillic"],
  #cyrillic:checked ~ #cyrillic3:checked ~ #glyphLabels label[for="cyrillic"] {
    color: white;
  }

  /* slides */
  #latin2:checked ~ #latinSlides,
  #cyrillic2:checked ~ #cyrillicSlides {
    transform: translateX(-100%);
  }

  #latin3:checked ~ #latinSlides,
  #cyrillic3:checked ~ #cyrillicSlides {
    transform: translateX(-200%);
  }

  /* slides navigation */
  .slider-radio {
    @apply hidden absolute bottom-4 w-8 h-8 cursor-pointer place-content-center;
  }

  #latin:checked ~ .slider-radio[for^="latin"],
  #cyrillic:checked ~ .slider-radio[for^="cyrillic"] {
    display: grid;
  }

  input[name="latinSlide"]:checked + .slider-radio > div,
  input[name="cyrillicSlide"]:checked + .slider-radio > div {
    @apply border-4 border-blue-200 bg-blue-400 box-content;
  }
</style>
