<section class="mt-20 relative">
  <div
    class="overflow-hidden flex leading-none text-[20rem] md:text-[60rem] text-gray-200 font-bold"
  >
    <div class="inline-block moving">onest</div>
    <div class="inline-block moving">onest</div>
  </div>
  <p class="absolute bottom-14 md:bottom-40 right-6 text-4xl md:text-8xl">
    — means honest
  </p>
</section>

<style>
  .moving {
    white-space: nowrap;
    animation: slide 12s linear infinite;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
